.beer-details {
   display: flex;
   flex-direction: row;
   width: 40%;
   height: auto;
   padding: 30px;
   margin-left: 50%;
   transform: translateX(-20%);
   gap: 30px;
   color: rgba($color: $primary-color, $alpha: 0.6);
   border-bottom: solid 1px $primary-color;

   img {
      width: 20%;
      object-fit: contain;
      background-color: rgba($color: wheat, $alpha: 0.2);
      border-radius: 20px;
      padding: 1vw;
   }

   button {
      position: absolute;
      top: 0;
      right: 5%;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: $primary-color;
      border: none;
      color: #001220;
      font-size: 1.2rem;
      transition: 0.5s ease-in;
   }

   button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid rgba($color: $primary-color, $alpha: 0.9);
      z-index: -1000;
      transition: 0.2s ease-in-out;
   }

   button:hover::before {
      top: calc(2px * -3);
      left: calc(2px * -3);
      right: calc(2px * -3);
      bottom: calc(2px * -3);
   }

   div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
         font-size: 1.5rem;
      }

      p {
         text-align: justify;
         font-size: 1.2rem;
      }
   }
}
