.list-beers {
   ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      margin-bottom: 4rem;

      img {
         width: 300px;
         height: 300px;
         object-fit: scale-down;
      }

      li {
         padding: 0;
         margin: 0;
         flex-basis: 30%;
         cursor: pointer;

         a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100%;
            text-decoration: none;
            color: black;
         }
      }
   }
}
