.list-beers {
   height: 70vh;
   overflow: auto;

   table {
      color: wheat;
      height: 100%;
      border-collapse: separate;
      border-spacing: 1.2rem 1.5rem;

      thead {
         text-align: left;

         th {
            background-color: #001220;
            padding: 1.2rem;
            position: sticky;
            top: 0;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.3rem;
         }
      }

      tbody {
         height: 70vh;
         width: 100%;
         overflow: auto;
         flex-basis: 1;

         img {
            height: 15rem;
            object-fit: scale-down;
         }

         tr {
            td {
               padding: 10px;
               text-align: left;
               vertical-align: top;
            }

            .image {
               text-align: center;
               background-color: rgba($color: $secondary-color, $alpha: 0.4);
               border-radius: 20px;
            }

            .description {
               p {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2; /* number of lines to show */
                  -webkit-box-orient: vertical;
               }
               button {
                  background-color: transparent;
                  cursor: pointer;
                  color: wheat;
                  padding: 10px;
                  border-radius: 20px;
                  border: solid 1px rgba($color: $secondary-color, $alpha: 0.4);
               }
            }
         }
      }
   }
}
