.beer-details {
   display: flex;
   flex-direction: row;
   width: 40%;
   height: 300px;
   margin-left: 50%;
   transform: translateX(-50%);
   gap: 30px;

   img {
      width: 30%;
   }

   button {
      position: absolute;
      top: 0;
      right: 5%;
      border: none;
      background-color: aqua;
      padding: 10px;
      cursor: pointer;
   }

   div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
         text-align: justify;
      }
   }
}
