.container {
   width: auto;
   margin-left: 50%;
   transform: translateX(-15%);
   display: flex;
   flex-direction: column;
   flex: 1;
   background-color: transparent;
   padding-bottom: 3rem;

   h1 {
      margin-bottom: 1rem;
      margin-top: 0;
      text-align: center;
      color: rgba($color: $primary-color, $alpha: 0.8);
      transform: translateX(-20%);
      font-size: 3rem;
      letter-spacing: 3px;
      font-weight: bold;
      text-transform: uppercase;
   }
}
