.pagination {
   width: 100%;
   position: fixed;
   bottom: 0px;
   flex: 1;
   height: auto;
   padding-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;

   button {
      border: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 2.5rem;
      color: rgba($color: beige, $alpha: 0.5);
      margin: 0.5rem 0.5rem 0 0.5rem;
      padding: 0;
      transition: ease-in 0.2s;
   }

   .btn-active {
      border-bottom: solid 3px rgba($color: white, $alpha: 0.5);
   }

   .btn-disabled {
      cursor: not-allowed;
      color: rgba($color: white, $alpha: 0.3);
   }
}
