.pagination {
   width: 100%;
   position: fixed;
   bottom: 0;
   flex: 1;
   backdrop-filter: blur(30px);
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;

   button {
      border: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 3rem;
      color: rgba($color: #e0df00, $alpha: 0.8);
      margin: 0 1rem;
   }
}
