.pagination {
   width: 100%;
   position: fixed;
   bottom: 0;
   flex: 1;
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;

   button {
      border: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 3rem;
      color: rgba($color: $primary-color, $alpha: 0.6);
      margin: 0 1rem;
      transition: ease-in 0.5s;
   }

   button:focus {
      background-color: aqua;
   }
}
